<header id="page-header" class="navbar navbar-default navbar-fixed-top rd-header">
    <div class="container-fluid">
        <div class="navbar-header rd-navbar-narrow">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">

                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">Project name</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <div class="rd-navbar-wide">
                <ul class="nav navbar-nav">
                    <li>
                        <span class="rd-header-btn" id="rd-menu-btn">
                            <i class="fa fa-bars rd-icon"></i>
                        </span>
                    </li>

                    <li>
                        <span class="rd-header-btn" id="rd-header-search-btn">
                            <i class="fa fa-search rd-icon"></i>
                        </span>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="rd-header-counter">
                        <span class="rd-header-btn" id="rd-header-notifications">
                            <i class="fa fa-bell rd-icon"></i>
                            <span class="rd-counter rd-orange">8</span>
                        </span>
                    </li>

                    <li class="rd-header-counter">
                        <span class="rd-header-btn" id="rd-header-messages">
                            <i class="fa fa-envelope rd-icon"></i>
                            <span class="rd-counter rd-red">8</span>
                        </span>
                    </li>

                    <li class="rd-header-counter">
                        <span class="rd-header-btn" id="rd-header-tasks">
                            <i class="fa fa-tasks rd-icon"></i>
                            <span class="rd-counter rd-green">8</span>
                        </span>
                    </li>

                    <li>
                        <span class="rd-header-btn rd-author-name" id="rd-header-name">
                            <img class="rd-photo" src="/static/img/user-photo.png" alt="John Smith">

                            <span class="rd-name">John Smith Long Name</span>

                            <span class="rd-button">
                                <span class="glyphicon glyphicon-chevron-down dropdown-toggle"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></span>

                                <ul class="dropdown-menu rd-dropdown-menu" aria-labelledby="topDropdownMenu">
                                    <li class="rd-dropdown-menu-item"><a href="#">Action</a></li>
                                    <li class="rd-dropdown-menu-item"><a href="#">Another action</a></li>
                                    <li class="rd-dropdown-menu-item"><a href="#">Something else here</a></li>
                                    <li class="rd-dropdown-menu-item"><a href="#">Separated link</a></li>
                                </ul>
                            </span>
                        </span>
                    </li>

                    <li>
                        <span class="rd-header-btn" id="rd-header-comments">
                            <i class="fa fa-comments rd-icon"></i>
                        </span>
                    </li>
                </ul>

                <div class="rd-header-search">
                    <input type="text">
                </div>
            </div>

            <div class="rd-navbar-wide-todo">
                No mock for this size yet
            </div>
        </div>
    </div>
</header>

<section class="container-fluid rd-main-area">
    <div class="row rd-title-datetime-row">
        <div class="col-md-3">
            <div class="rd-page-description">
                <h2 class="rd-page-description-title">Analytics</h2>

                <p class="rd-page-description-text">Lorem ipsum donec sed lucas</p>
            </div>
        </div>

        <div class="col-md-6">
        </div>

        <div class="col-md-3">
            <div class="rd-main-area-block rd-datetime">
                <div class="row">
                    <div class="col-md-5">
                        <div class="rd-date">
                            <div class="rd-dow">Monday</div>

                            <div class="rd-day">10</div>

                            <div class="rd-month">
                                <span class="rd-month-text">Feb</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="rd-pm-time">
                            <div class="rd-pm">PM</div>

                            <div class="rd-time">03:27</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row rd-charts-row">
        <div class="col-md-6 col-lg-3">
            <div class="rd-main-area-block rd-chart">
                <h4 class="rd-chart-title">Monthly Expenses</h4>
                <img src="/static/img/charts/chart1.png" alt="chart1">
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="rd-main-area-block rd-chart">
                <h4 class="rd-chart-title">Cloud storage usage</h4>
                <img src="/static/img/charts/chart2.png" alt="chart4">
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="rd-main-area-block rd-chart">
                <h4 class="rd-chart-title">Daily visitors</h4>
                <img src="/static/img/charts/chart3.png" alt="chart3">
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="rd-main-area-block rd-chart">
                <h4 class="rd-chart-title">Percentage chart</h4>
                <img src="/static/img/charts/chart4.png" alt="chart4">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="rd-main-area-block rd-big-chart">
                <div class="rd-block-header">
                    <div class="rd-block-title">
                        Some graphs
                    </div>

                    <div class="rd-block-buttons">
                        <span class="glyphicon glyphicon-chevron-down rd-block-button"
                              data-toggle="collapse"
                              data-target="#big-chart-content"></span>

                        <i class="fa fa-cog rd-block-button"></i>

                        <i class="fa fa-times rd-block-button"></i>
                    </div>

                    <div class="clear"></div>
                </div>

                <div id="big-chart-content" class="collapse in rd-block-content">
                    <img src="/static/img/charts/chart_big.png" alt="chart1">
                </div>
            </div>
        </div>

        <div class="col-md-4"> {# TODO: maybe remove wrapper #}
            <div class="col-md-12">
                <div class="rd-main-area-block rd-quote-block">
                    <p class="rd-big-text">
                        "Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit"
                    </p>

                    <p class="rd-small-text">
                        - Lorem Ipsum
                    </p>
                </div>
            </div>

            <div class="col-md-12">
                <div class="rd-main-area-block rd-weather-block">
                    <img src="/static/img/weather-widget.png" alt="weather">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="rd-main-area-block rd-send-message-block">
                <div class="rd-block-header">
                    <div class="rd-block-title">
                        Quick Message
                    </div>

                    <div class="rd-block-buttons">
                        <span class="glyphicon glyphicon-chevron-down rd-block-button"
                              data-toggle="collapse"
                              data-target="#send-msg-content"></span>

                        <i class="fa fa-cog rd-block-button"></i>

                        <i class="fa fa-times rd-block-button"></i>
                    </div>

                    <div class="clear"></div>
                </div>

                <div id="send-msg-content" class="collapse in rd-block-content">
                    <form role="form">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Recipients">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" placeholder="Subject Here..">
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" id="message"
                                      placeholder="Message Here.."></textarea>
                        </div>

                        <div class="form-group">
                            <div class="rd-dropzone">
                                <div class="rd-drop-image">
                                    <div class="rd-drop-helper"></div>
                                    <img src="/static/img/drop.png" alt="drop here">
                                </div>

                                <p>
                                    Drag your files here or
                                    <a href="#">browse</a>
                                    for files to upload
                                </p>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-default">Send message</button>

                        <div class="clear"></div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-6"> {# TODO: again do we need outer block #}
            <div class="col-md-6 col-lg-6">
                <div class="rd-main-area-block rd-stats-block">
                    <img class="rd-stats-img" src="/static/img/stats/stats_1.png" alt="stats_1">
                    <h4 class="rd-stats-title">New Users</h4>

                    <p class="rd-stats-counter">387</p>

                    <div class="clear"></div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6">
                <div class="rd-main-area-block rd-stats-block">
                    <img class="rd-stats-img" src="/static/img/stats/stats_2.png" alt="stats_2">
                    <h4 class="rd-stats-title">New Orders</h4>

                    <p class="rd-stats-counter">1,211</p>

                    <div class="clear"></div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6">
                <div class="rd-main-area-block rd-stats-block">
                    <img class="rd-stats-img" src="/static/img/stats/stats_3.png" alt="stats_3">
                    <h4 class="rd-stats-title">Profit</h4>

                    <p class="rd-stats-counter">8,971</p>

                    <div class="clear"></div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6">
                <div class="rd-main-area-block rd-stats-block">
                    <img class="rd-stats-img" src="/static/img/stats/stats_4.png" alt="stats_4">
                    <h4 class="rd-stats-title">Sales</h4>

                    <p class="rd-stats-counter">168</p>

                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-6">
            <div class="rd-main-area-block rd-todo-list-block">
                <div class="rd-block-header">
                    <div class="rd-block-title">
                        Todo List
                    </div>

                    <div class="rd-block-buttons">
                          <span class="glyphicon glyphicon-chevron-down rd-block-button"
                                data-toggle="collapse"
                                data-target="#todo-list-content"></span>

                        <i class="fa fa-cog rd-block-button"></i>

                        <i class="fa fa-times rd-block-button"></i>
                    </div>

                    <div class="clear"></div>
                </div>

                {% include "todo_list.html" %}
            </div>
        </div>
    </div> {#/ row #}
</section>
