
<div class="rd-sidebar-brand-block">
    <h1 class="rd-sidebar-item rd-sidebar-header">
        ReactiveDash
    </h1>
</div>

<div class="rd-sidebar-user-block">

    <div class="rd-sidebar-item rd-user-photo-wrapper">
        <div class="rd-user-photo">
            <img src="/static/img/user-photo.png" alt="John Smith">
        </div>

        <div class="rd-sidebar-user-status" data-status="rd-status-online">
            <div class="rd-current-status">
                <span class="rd-status-text rd-online">Online</span>
                <span class="rd-status-text rd-away">Away</span>
                <span class="rd-status-text rd-offline">Offline</span>

                <span class="glyphicon glyphicon-chevron-down rd-button"></span>
            </div>

            <ul class="rd-status-menu">
                <li class="rd-status-menu-item rd-online" data-new-status="rd-status-online">Online</li>
                <li class="rd-status-menu-item rd-away" data-new-status="rd-status-away">Away</li>
                <li class="rd-status-menu-item rd-offline" data-new-status="rd-status-offline">Offline</li>
            </ul>
        </div>
    </div>

    <div class="rd-sidebar-item rd-user-full-name">
        John Smith
    </div>

    <div class="rd-sidebar-item rd-user-position">
        Administrator
    </div>
</div>

<ul class="rd-sidebar-menu">
    <li class="rd-sidebar-menu-item">
        <a href="#">
            <i class="fa fa-tachometer rd-menu-icon"></i>
            <span class="rd-menu-title">Dashboard</span>
            <span class="glyphicon glyphicon-chevron-right rd-arrow"></span>
        </a>
    </li>

    <li class="rd-sidebar-menu-item">
        <a href="#">
            <i class="fa fa-pencil rd-menu-icon"></i>
            <span class="rd-menu-title">Form Stuff</span>
            <span class="glyphicon glyphicon-chevron-right rd-arrow"></span>
        </a>
    </li>

    <li class="rd-sidebar-menu-item">
        <a href="#">
            <i class="fa fa-cog rd-menu-icon"></i>
            <span class="rd-menu-title">UI Elements</span>
            <span class="glyphicon glyphicon-chevron-right rd-arrow"></span>
        </a>
    </li>

    <li class="rd-sidebar-menu-item">
        <a href="#">
            <i class="fa fa-desktop rd-menu-icon"></i>
            <span class="rd-menu-title">Layouts</span>
            <span class="glyphicon glyphicon-chevron-right rd-arrow"></span>
        </a>
    </li>

    <li class="rd-sidebar-menu-item">
        <a href="#">
            <i class="fa fa-table rd-menu-icon"></i>
            <span class="rd-menu-title">Tables</span>
            <span class="glyphicon glyphicon-chevron-right rd-arrow"></span>
        </a>
    </li>

    <li class="rd-sidebar-menu-item">
        <a href="#">
            <i class="fa fa-area-chart rd-menu-icon"></i>
            <span class="rd-menu-title">Charts</span>
            <span class="glyphicon glyphicon-chevron-right rd-arrow"></span>
        </a>
    </li>

    <li class="rd-sidebar-menu-item">
        <a href="#">
            <i class="fa fa-map-marker rd-menu-icon"></i>
            <span class="rd-menu-title">Maps</span>
            <span class="glyphicon glyphicon-chevron-right rd-arrow"></span>
        </a>
    </li>

    <li class="rd-sidebar-menu-item">
        <a href="#">
            <i class="fa fa-folder rd-menu-icon"></i>
            <span class="rd-menu-title">Pages</span>
            <span class="glyphicon glyphicon-chevron-right rd-arrow"></span>
        </a>
    </li>
</ul>
